.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
}
.btn--regular {
  display: block;
  width: 160px;
  height: 32px;
  left: 0px;
  top: 0px;
  background: #2f93fe;
  border-radius: 6px;
  font-family: Museo Sans Cyrl;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 12px;
  color: #fff;
}
.btn--regular:focus {
  box-shadow: 0 0 5px 2px #71b6ff;
}
.btn--regular:hover {
  background: #71b6ff;
}
.btn--regular:active {
  background: #0971f5;
}
@media screen and (min-width: 1168px) {
  .btn--margin-left {
    margin-left: auto;
  }
}
.error-message {
  font-family: Museo Sans Cyrl;
  font-weight: 600;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  color: #f00;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 32px;
}
@media screen and (min-width: 1168px) {
  .social {
    width: 1168px;
    padding: 13px 17px 13px;
  }
}
.social__list {
  max-width: 420px;
  margin: 0;
  padding: 28px 11% 32px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 1168px) {
  .social__list {
    max-width: 380px;
  }
}
.social__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 24px;
  opacity: 1;
  outline: none;
}
.social__link:hover {
  opacity: 0.6;
}
.social__link:focus {
  filter: drop-shadow(0 0 10px #fff);
}
.redirect {
  padding-left: 65%;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}
.redirect__item {
  list-style: none;
}
.redirect__link {
  font-family: Museo Sans Cyrl;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.0275em;
  color: #8391b2;
  text-decoration: none;
}
.redirect::before {
  counter-increment: redirects;
  content: counter(redirects);
}
.redirect__link:nth-child(3n+1) {
  order: 1;
}
.redirect__link:nth-child(3n+2) {
  order: 2;
}
.redirect__link:nth-child(3n) {
  order: 3;
}
.redirect::before {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
.redirect::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
.header {
  z-index: 4;
}
.header__wrapper {
  align-items: center;
  padding: 16px 5%;
}
@media screen and (min-width: 1168px) {
  .header__wrapper {
    width: 1168px;
    margin: 0 auto;
  }
}
.header__info {
  position: absolute;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
  opacity: 1;
  top: 30px;
}
@media screen and (min-width: 1168px) {
  .header__info {
    top: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.0025em;
    color: #8391b2;
  }
}
.header__info__t {
  left: 90%;
}
@media screen and (min-width: 1168px) {
  .header__info__t {
    position: relative;
    left: 43%;
  }
}
.header__info__m {
  left: 85%;
}
@media screen and (min-width: 1168px) {
  .header__info__m {
    position: relative;
    left: 40%;
  }
}
.header__info__p {
  left: 80%;
}
@media screen and (min-width: 1168px) {
  .header__info__p {
    position: relative;
    left: 37%;
  }
}
.header__info:focus {
  filter: drop-shadow(0 0 10px #fff);
}
.header__info:before {
  content: '';
}
@media screen and (min-width: 1168px) {
  .header__info:before {
    top: 0;
  }
}
.header__info:hover {
  color: rgba(131,145,178,0.6);
}
.header__info:active {
  color: #29435d;
}
svg {
  align: center;
  margin-right: 5px;
}
svg:hover {
  fill: rgba(131,145,178,0.6);
}
svg:active {
  fill: #29435d;
}
.loader {
  display: block;
  margin: 50px auto;
  width: 70px;
  height: 70px;
}
.logo {
  outline: none;
  opacity: 1;
}
.logo:hover {
  opacity: 0.6;
}
.logo:focus {
  filter: drop-shadow(0 0 10px #fff);
}
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15 /* 1 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box /* 1 */;
  height: 0 /* 1 */;
  overflow: visible /* 2 */;
}
pre {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none /* 1 */;
  text-decoration: underline /* 2 */;
  text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit /* 1 */;
  font-size: 100% /* 1 */;
  line-height: 1.15 /* 1 */;
  margin: 0 /* 2 */;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box /* 1 */;
  color: inherit /* 2 */;
  display: table /* 1 */;
  max-width: 100% /* 1 */;
  padding: 0 /* 3 */;
  white-space: normal /* 1 */;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  outline-offset: -2px /* 2 */;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button /* 1 */;
  font: inherit /* 2 */;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.offers {
  margin-top: -20%;
  z-index: 4;
  padding: 80px 0 64px;
}
.offers__title {
  position: relative;
  font-weight: bold;
  letter-spacing: 0.0025em;
  color: #29435d;
  text-align: center;
  font-size: 18px;
  line-height: 120%;
}
@media screen and (min-width: 768px) and (max-width: 1168px) {
  .offers__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1168px) {
  .offers__title {
    line-height: 38px;
    font-size: 32px;
  }
}
.offers__container {
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
}
@media screen and (min-width: 1168px) {
  .offers__container {
    width: 1168px;
    padding: 0 16px;
  }
}
label {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.0025em;
  color: #29435d;
}
@media screen and (min-width: 768px) {
  label {
    font-size: 18px;
  }
}
p {
  padding-top: 60px;
  padding-bottom: 24px;
  width: 289px;
  height: 32px;
  left: 150px;
  top: 650px;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 18px;
  }
}
.offers__checkbox {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #29435d;
  -webkit-appearance: none;
  outline: none;
  margin-left: 150px;
}
.offers__checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M9.89355 0.545747L4.54988 5.88946L2.10674 3.44632C1.81862 3.15826 1.35157 3.15826 1.06345 3.44632C0.775398 3.73444 0.775398 4.20149 1.06345 4.4896L4.02824 7.45438C4.1723 7.59838 4.36109 7.67044 4.54988 7.67044C4.73868 7.67044 4.92747 7.59838 5.07153 7.45438L10.9368 1.58909C11.2249 1.30097 11.2249 0.833922 10.9368 0.545806C10.6487 0.25769 10.1816 0.25769 9.89355 0.545747Z' fill='%230971F5'/%3E %3C/svg%3E");
  background-repeat: no-repeat;
  border-color: #0971f5;
  opacity: 1;
}
.offers__slider {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .offers__slider {
    position: relative;
    flex-direction: row;
  }
}
@media screen and (min-width: 1168px) {
  .offers__slider {
    position: relative;
    left: 25%;
  }
}
template {
  display: none !important;
}
.page {
  width: 100%;
  min-width: 320px;
  font-family: Gotham Pro;
  font-style: normal;
  overflow-x: hidden;
  background-color: #fff;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.visually-hidden:not(:focus):not(:active) {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.server {
  border: 1px solid #8391b2;
  box-sizing: border-box;
  border-radius: 7px;
  margin-bottom: 16px;
  padding: 22px;
}
@media screen and (min-width: 1168px) {
  .server {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    max-width: 900px;
    max-height: 138px;
    margin-left: 8.5%;
  }
}
.server__info {
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  color: solidBlack;
  width: 72%;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #29435d;
  margin-bottom: 16px;
}
@media screen and (min-width: 1168px) {
  .server__info {
    width: 800px;
    height: 152px;
    left: 30px;
  }
}
.server__info--name {
  font-weight: bold;
}
@media screen and (min-width: 1168px) {
  .server__info--name {
    position: relative;
  }
}
@media screen and (min-width: 1168px) {
  .server__info--cpu {
    text-align: left;
    max-width: 87px;
  }
}
@media screen and (min-width: 1168px) {
  .server__info--hdd {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1168px) {
  .server__info--ram {
    max-width: 110px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 1168px) {
  .server__info--gpu {
    padding-left: 20px;
  }
}
.server__info--price {
  font-weight: bold;
}
@media screen and (min-width: 1168px) {
  .server__info--price {
    padding-left: 6px;
  }
}
.slider {
  width: 100%;
  z-index: 2;
}
.slide__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 1168px) {
  .slide__wrapper {
    width: 1168px;
  }
}
.slide__title {
  font-weight: bold;
  line-height: 120%;
  font-size: 18px;
  color: #29435d;
  align-items: center;
  letter-spacing: 0.0025em;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1168px) {
  .slide__title {
    position: relative;
    width: 412px;
    height: 120px;
    top: 100px;
    max-width: 350px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1168px) {
  .slide__title {
    width: 528px;
    height: 76px;
    left: 150px;
    top: 136px;
    font-size: 32px;
    max-width: 440px;
  }
}
.slide__desc {
  position: relative;
  left: 0;
  top: -70px;
  font-weight: normal;
  line-height: 120%;
  font-size: 12px;
  color: #8391b2;
  margin: 40px 0;
  width: 100%;
  letter-spacing: 0.0025em;
  align: left;
}
@media screen and (min-width: 768px) and (max-width: 1168px) {
  .slide__desc {
    width: 413px;
    height: 76px;
    top: 0;
    font-size: 16px;
    line-height: 120%;
  }
}
@media screen and (min-width: 1168px) {
  .slide__desc {
    width: 528px;
    height: 88px;
    top: -50px;
    font-size: 18px;
    align-items: center;
  }
}
.server__pic__mobile {
  position: relative;
/*width: 380px;
    height: 363px;
    left: 150px;
    top: -50px;*/
  left: 180px;
  top: -150px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
@media screen and (min-width: 768px) {
  .server__pic__mobile {
    display: none;
  }
}
.server__pic__desktop {
  display: none;
}
@media screen and (min-width: 1168px) {
  .server__pic__desktop {
    position: relative;
    display: inline;
    width: 380px;
    height: 363px;
    left: 550px;
    top: -280px;
  }
}
.server__pic__tablet {
  display: none;
}
@media screen and (min-width: 1168px) {
  .server__pic__tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1168px) {
  .server__pic__tablet {
    position: relative;
    display: inline;
    width: 293px;
    height: 247px;
    left: 54%;
    top: -260px;
  }
}
