footer(class="footer")

div(class="social")
  include logo
  ul(class="social__list")
    li(class="social__item")
      a(class="social__link" href="https://vk.com/selectel" target="_blank")
        img(class="social__image" src="img/VK.svg" width="22" height="22" alt="vk")
    li(class="social__item")
      a(class="social__link" href="https://www.facebook.com/selectel/" target="_blank")
        img(class="social__image" src="img/Facebook.svg" width="22" height="22" alt="facebook")
    li(class="social__item")
      a(class="social__link" href="https://twitter.com/selectel" target="_blank")
        img(class="social__image" src="img/Twitter.svg" width="22" height="22" alt="twitter")
    li(class="social__item")
      a(class="social__link" href="https://www.instagram.com/selectel.ru/" target="_blank")
        img(class="social__image" src="img/Instagram.svg" width="22" height="22" alt="instagram")

div(class="redirect")
  ul(class="redirect__list")
    li(class="redirect__item")
      a(class="redirect__link" href="https://selectel.ru/" target="_blank") Серверы
      a(class="redirect__link" href="https://selectel.ru/" target="_blank") Оборудование
      a(class="redirect__link" href="https://selectel.ru/" target="_blank") Дата-центры
      a(class="redirect__link" href="https://selectel.ru/" target="_blank") Блог
    li(class="redirect__item")
      a(class="redirect__link" href="https://selectel.ru/" target="_blank") Облако
      a(class="redirect__link" href="https://selectel.ru/" target="_blank") Решения    
      a(class="redirect__link" href="https://selectel.ru/" target="_blank") О компании
      a(class="redirect__link" href="https://selectel.ru/" target="_blank") Офисы
        