div(class="slider")
  div(class="slide__wrapper")
      h2(class="slide__title") Надежные серверы для проектов любой сложности
      p(class="slide__desc") Выделенный сервер - это аренда сервера под задачи вашего проекта с возможностью свободно распоряжаться ресурсами машины и установки любого программного обеспечения.
      a(class="btn btn--regular" href="https://selectel.ru/" target="_blank") Готовые серверы
      img(class="server__pic__mobile" src="img/server_min.svg", alt="server")
      img(class="server__pic__tablet" src="img/server_tablet.svg" alt="server")
      img(class="server__pic__desktop" src="img/server_max.svg", alt="server")