template(id="template-raid")
  div(class="server server__raid")
    spam(class="server__info server__info--name")     
    span(class="server__info server__info--cpu")
    span(class="server__info server__info--ram")
    span(class="server__info server__info--hdd")
    span(class="server__info server__info--gpu")
    span(class="server__info server__info--price")
    a(class="btn btn--regular btn--margin-left" href="https://selectel.ru/" target="_blank") Заказать

template(id="template-server")
  div(class="server")
    spam(class="server__info server__info--name")     
    span(class="server__info server__info--cpu")
    span(class="server__info server__info--ram")
    span(class="server__info server__info--hdd")
    span(class="server__info server__info--gpu")
    span(class="server__info server__info--price")
    a(class="btn btn--regular btn--margin-left" href="https://selectel.ru/" target="_blank") Заказать

template(id="template-gpu")
      div(class="server server__gpu")
        spam(class="server__info server__info--name")     
        span(class="server__info server__info--cpu")
        span(class="server__info server__info--ram")
        span(class="server__info server__info--hdd")
        span(class="server__info server__info--gpu")
        span(class="server__info server__info--price")
        a(class="btn btn--regular btn--margin-left" href="https://selectel.ru/" target="_blank") Заказать

template(id="template-ssd")
  div(class="server server__ssd")
    spam(class="server__info server__info--name")     
    span(class="server__info server__info--cpu")
    span(class="server__info server__info--ram")
    span(class="server__info server__info--hdd")
    span(class="server__info server__info--gpu")
    span(class="server__info server__info--price")
    a(class="btn btn--regular btn--margin-left" href="https://selectel.ru/" target="_blank") Заказать