.btn
  border: none
  background transparent
  cursor pointer
  text-decoration none
  text-align center
  padding 0

.btn--regular
  display block
  width: 160px;
  height: 32px;
  left: 0px;
  top: 0px;
  background: #2F93FE;
  border-radius: 6px;
  font-family Museo Sans Cyrl
  font-weight 500
  font-size 14px
  padding 9px 12px
  color white

  @media screen and (max-width 768px)
    margin-top: -90px
    width: 111px;
    height: 26px;
    font-size: 10px;

.btn--regular:focus
  box-shadow 0 0 5px 2px #71B6FF

.btn--regular:hover
  background #71B6FF

.btn--regular:active
  background #0971F5

.btn--margin-left
  position relative
  border: 1px solid #2F93FE
  border-radius: 6px;
  color: #2F93FE;
  background-color: white
  top: 60%
  height: 35px

  @media screen and (min-width 768px)
    position relative
    width: 76px
    left 86%
    top: 55%
  
  @media screen and (min-width: 1168px)
    position relative
    font-weight: 500;
    font-size: 10px;
    text-align: center
    height 30px
    width: 76px