.btn
  border: none
  background transparent
  cursor pointer
  text-decoration none
  text-align center
  padding 0

.btn--regular
  display block
  width: 160px;
  height: 32px;
  left: 0px;
  top: 0px;
  background: #2F93FE;
  border-radius: 6px;
  font-family Museo Sans Cyrl
  font-weight 500
  //line-height 24px
  font-size 14px
  //color white
  padding 9px 12px
  //transition background 0.3s ease
  //outline none
  color white

.btn--regular:focus
  box-shadow 0 0 5px 2px #71B6FF

.btn--regular:hover
  background #71B6FF

.btn--regular:active
  background #0971F5

.btn--margin-left
  
  @media screen and (min-width: 1168px)
    margin-left auto
