.social
  position relative
  display flex
  flex-direction column
  align-items center
  padding 32px 0 32px
  left -30%

  @media screen and (min-width 768px)
    left -40%

  @media screen and (min-width: 1168px)
    width 1168px
    left -2%

.social__list
  margin 0
  padding 28px 11% 32px
  list-style none
  display flex
  justify-content space-between
  flex-flow: column

  @media screen and (min-width: 1168px)
    max-width 380px
    flex-flow: row

.social__link
  text-decoration none
  color white
  display flex
  justify-content center
  align-items center
  width 32px
  height 24px
  opacity 1
  outline none

.social__link:hover
  opacity 0.6

.social__link:focus
  filter drop-shadow(0 0 10px white)

.redirect
  left 18%
  top -220px
  position relative
  display: flex
  justify-content: space-between
  flex-direction: row

  @media screen and (min-width 768px)
    top -220px

  @media screen and (min-width 1168px)
    top -150px
    left 35%
    
.redirect__item
  position relative
  list-style none
  display: flex
  justify-content: space-between
  flex-direction: row
  width: 134px
  height: 100px

  @media screen and (min-width 768px)
    width 650px
    height 50px

.redirect__link
  font-family: Museo Sans Cyrl;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.0275em;
  color: #8391B2;
  text-decoration: none

  @media screen and (min-width 1168px)
    position relative
    font-size: 14px