.server
  position relative
  border 1px solid #8391B2
  box-sizing border-box
  border-radius 7px
  margin-bottom 16px
  padding-left: 15px
  height: 234px

  @media screen and (mim-width 768px)
    max-width 706px
    max-height: 152px

  @media screen and (min-width: 1168px)
    margin-bottom: 12px
    max-width 900px
    max-height: 138px
    margin-left: 8.5%

.server__info
  line-height 24px
  font-size 18px
  color solidBlack
  width 72%
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #29435D;
  padding 5px

  @media screen and (min-width: 768px)
    padding: 0
    display inline

.server__info--name
  font-weight: bold

  @media screen and (min-width 768px)
    position relative
    top: 15px

.server__info--cpu
 
  @media screen and (min-width: 768px)
    position absolute
    text-align: left
    top 60px
    left 15px
    max-width 87px

.server__info--hdd

  @media screen and (min-width: 768px)
    position: absolute
    top 60px
    left 43%

.server__info--ram

  @media screen and (min-width: 768px)
    position: absolute
    top 60px
    left 25%

.server__info--gpu

  @media screen and (min-width 768px)
    position: absolute
    top 60px
    left: 63%

.server__info--price
  font-weight: bold

  @media screen and (min-width 768px)
    position: absolute
    align-content: center
    left 85.5%
    top 60px