doctype html
html
  head
    include includes/head

  body(class = "page")
    include includes/header
    main(class = "main")
      include includes/slider
      include includes/offer
      include includes/template
    
      include includes/footer
      include includes/scripts